body {
    font-family: 'Inter';
}

.mSideMenu {
    background-color: var(--MenuSidebar);
    position: fixed;
    width: 220px;
    border-radius: 20px;
    height: 95%;
    top: 2.5%;
    left: 15px;
    transition: width 0.3s;
    overflow: hidden;
}
.mS-tabsList, .mS-bottomList {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}
.mST-element {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    padding: 6px;
    transition: background-color 0.2s;
    width: 188px;
    cursor: pointer;
}
.mST-element-active {
    background-color: var(--main-color);
    color: var(--white-text);
}
.mST-element-active > img {
    filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(86deg) brightness(108%) contrast(100%);
}
.mST-element:hover, .mSB-element:hover {
    background-color: var(--MenuSidebar-hover);
}
.mST-element > p, .mSB-element > p {
    margin: 0;
    font-size: 20px;
}
.mST-element > img, .mSB-element > img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.mMainContent {
    position: absolute;
    width: calc(100% - 235px);
    height: 100%;
    margin-left: 235px;
    top: 0;
    overflow: hidden;
    overflow-y: scroll;
}
.mS-bottomList {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    top: auto;
    transform: translateY(0);
    gap: 10px;
}
.mSB-element > p {
    font-size: 16px;
}
.mSB-element > img {
    width: 20px;
    height: 20px;
}
.mSB-element {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    padding: 6px;
    transition: background-color 0.2s;
    cursor: pointer;
    width: 188px;
}

@media (max-width: 1200px) {
    .mST-element > p, .mSB-element > p {
        display: none;
        width: 0px;
        white-space: nowrap;
        
    }
    .mST-element {
        justify-content: center;
        width: 40px;
        padding: 5px 1px;
        gap: 0;

    }
    .mSB-element {
        width: 40px;
    }
    .mS-tabsList, .mS-bottomList {
        margin-left: 18px;
        /* align-items: center; */
        gap: 22px;
        transition: margin-left 0.2s;
    }
    .mS-bottomList {
        gap: 10px;
    }
    .mSideMenu {
        width: 80px;
    }
    .mSideMenu:hover {
        width: 220px;
        align-items: left;
    }
    .mSideMenu:hover .mST-element > p,  .mSideMenu:hover .mSB-element > p {
        display: block;
    }
    .mSideMenu:hover .mS-tabsList, .mSideMenu:hover .mS-bottomList {
        align-items: start;
        margin-left: 10px;
        gap: 20px;
        
    }
    .mSideMenu:hover .mS-bottomList {
        gap: 10px;

    }
    .mSideMenu:hover .mST-element,  .mSideMenu:hover .mSB-element {
        align-items: start;
        justify-content: start;
        width: 188px;
        padding: 6px;
        gap: 5px;
        transition: width 0.4s;
    }
}