* {
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
}

/* ========================== Top bar ==================== */
.rTHous {
    display: flex;

}

.notification-bar {
    position: absolute;
    right: 0;
    margin-right: 12px;
    display: flex;
    gap: 1.6rem;
    background-color: none;
    border-radius: 50%;
}

.notification-bar>.vertical {
    height: auto;
    border-left: 2px solid rgb(149, 143, 143);

}



.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button:active {
    background: #cccccc;
}

.icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.user-login{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user-login>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}







.rBack {
    overflow: hidden;
    height: calc(100% - 148px);
    
}

.mM-insights-pillars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 1.6rem;
}

.box-layout {
    background-color: var(--secondary-back);
    padding: 1.8rem;
    border-radius: 25px;
    transition: all 500ms ease-in;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.mM-insights-pillars>a>div {
    background-color: var(--secondary-back);
    padding: 1.8rem;
    border-radius: 25px;
    margin-top: 1rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    transition: all 500ms ease-in;
}

.mM-insights-pillars>div:hover {
    box-shadow: none;
    cursor: pointer;
}

.mM-insights-pillars>div span {
    background: var(--main-color);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--white-text);
    font-size: 2rem;
}

.mM-insights-pillars>div.mMI-governance span {
    background: var(--governance);
}

.mM-insights-pillars>div.mMI-social span {
    background: var(--grey);
}

.mM-insights-pillars>div .mMIG-content-area,
.mMIE-content-area,
.mMIS-content-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mM-insights-pillars h3 {
    margin: 1rem 0 0 0;
}

.mC-main-area{
    margin: 40px 20px 0 20px;
}


.progress-chart {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.progress-chart svg {
    width: 92px;
    height: 92px;
}

.progress-chart svg circle {
    fill: none;
    stroke: var(--main-color);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

.mM-insights-pillars .mMI-social svg circle {
    stroke: var(--grey);
    stroke-dashoffset: 50;
    stroke-dasharray: 250;
}

.mM-insights-pillars .mMI-governance svg circle {
    stroke: var(--governance);
    stroke-dashoffset: 50;
    stroke-dasharray: 250;
}

.mMIEC-progress-number {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.mM-insights-pillars text {
    text-anchor: middle;

}



.mM-insights-pillars .progress-chart p {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

/* ========================== Recent News ==================== */

.mM-recent-news {
    margin: 40px 20px 0 20px;

}

.mM-recent-news>h2 {
    margin-bottom: 0.8rem;
}

.mM-recent-news table {
    background: var(--secondary-back);
    width: 100%;
    text-align: center;
    border-radius: 1.8rem;
    transition: all 500ms ease-in;
    border-collapse: collapse;
    overflow: hidden;



}

.mM-recent-news table:hover {
    box-shadow: none;
}

thead {
    width: 100%;
    height: 10%;
}

th {
    padding: 1rem;
    background-color: var(--accent-updates);
    border-collapse: collapse;



}



.mM-recent-news tbody td {
    height: 3.3rem;
    border-bottom: 1px solid var(--grey);


}

.mM-recent-news tbody tr:last-child td {
    border: none;
}

.mM-recent-news a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--grey);
}

td>p {

    padding: .4rem 0;
    border-radius: 2rem;
    width: 50%;
    margin: auto auto;

}

.mMR-warning-tag.high {
    /* Styles for the "Very high" warning level */
    background-color: red;
}

.mMR-warning-tag.medium {
    /* Styles for the "High" warning level */
    background-color: var(--color-medium-importance);
}

.mMR-warning-tag.low {
    /* Styles for other warning levels */
    background-color: var(--color-low-importance);
}



tr:not(thead tr):hover {
    background-color: #f5f5f5;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
    cursor: pointer;
    transform: scale(1.02);
}



/* ========================== Status Overview ==================== */

.mC-status-bar {
    display: grid;
   
    /* Additional styles for mRightSidebar */
    height: 300px;
    grid-template-columns: 1fr 0.75fr 0.75fr;
    /* Create three equal-width columns */
    grid-template-rows: auto;
    /* Automatically adjust row height based on content */
    gap: 3rem;
    /* Add gap between grid items */
    margin: 40px 20px 0 20px;
}

.mC-status-bar>div:hover {
    box-shadow: none;
    cursor: pointer;
}


.mCS-status-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
    position: relative;
}

.mCSS-status-header {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: (100% - 120px);

}

.mCSS-status-header>span {
    padding-right: 10px;
    padding-left: 10px;
    background: var(--main-color);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--white-text);
    font-size: 2rem;
}

.mCSS-status-header>h2 {
    margin-left: 10px;

}



.mCS-child {
    height: 100%;
}

.mCS-improvment-suggestions {
    flex: 1;
}

.mCS-comparison-area {
    flex: 1;
}





.enviroment-circle,
.governance-circle,
.social-circle {

    flex-grow: 2;
    fill: none;
    stroke: var(--secondary-text);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;

}

.enviroment-circle {
    stroke: var(--main-color);
}

.governance-circle {
    stroke: var(--governance);
    stroke-dashoffset: 50;
    stroke-dasharray: 250;
}


.mCSS-progress-chart {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-items: center;
}

.mCSS-progress-chart svg {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.mCSBC-legend {
    margin-left: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.legend-element {
    display: flex;
    align-items: center;
    gap: 10px;



}

.mCSBC-legend .legend-element:nth-child(1) .material-symbols-outlined {
    background: var(--main-color);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--white-text);
    font-size: 2rem;
}

.mCSBC-legend .legend-element:nth-child(2) .material-symbols-outlined {
    background: var(--governance);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--white-text);
    font-size: 2rem;
}

.mCSBC-legend .legend-element:nth-child(3) .material-symbols-outlined {
    background: var(--grey);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--white-text);
    font-size: 2rem;
}




.mCSB-chart-area {

    display: flex;
    grid-template-columns: 2fr 1fr;
    /* Create three equal-width columns */
    grid-template-rows: auto;
    /* Automatically adjust row height based on content */
    gap: 10px;
    /* Add gap between grid items */
    padding: 10px;
}

.mCSB-chart-area>div {

    background-color: black;
}


.mCS-left-container,
.mCS-right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}





/* ========================== graph ==================== */

.chart-container {
    position: relative;
    width: 100%;
    height: 100%;

}

.chart-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
}


.vertical {
    border-left: 2px solid rgb(149, 143, 143);
    height: 200px;
    left: 50%;
}