:root {
    --main-color: #7AA874;
    --white-text: white;
    --secondary-text: #7e7e7e;
    --MenuSidebar: #f6f3ef;
    --MenuSidebar-hover: #E4DCCF;
    --grey: #B0A4A4;
    --secondary-back: #ececec;
    --governance:#655be9;
    --background-header: #f6f7f9;
    --color-high-importance: #ff7782;
    --color-low-importance: #162ae0;
    --color-medium-importance: #ffbb55;

}