:root {
    --main-color: #7AA874;
    --white-text: white;
    --secondary-text: #7e7e7e;
    --MenuSidebar: #f6f3ef;
    --MenuSidebar-hover: #E4DCCF;
    --grey: #B0A4A4;
    --secondary-back: #ececec;
}