body {
    font-family: 'Inter';
    background-color: #f9f9f9;
}

.mobile {
    display: none;
}

.qBack {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: clamp(100px,80%,1200px);
    margin: auto;
    /* background-color: aquamarine; */
}
.qMain {
    filter: opacity(1);
    height: 270px;
    
}
.qMChild {
    position: relative;
    width: 100%;
    transition: filter 0.3s, transform 0.4s;
}
.qMHead {
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 0 0;
}
.qM-TopPart {
    display: flex;
    justify-content: space-between;
}
.qM-TopPart > img {
    width: 100px;
    border-radius: 50px;
    height: 100px;
    object-fit:cover;
}
.qM-Navigation {
    display: flex;
    gap: 5px;
    align-items: flex-start;
}
.qMN-Back {
   border: solid 1px var(--main-color); 
   border-radius: 5px;
   padding: 5px 12px;
   color: var(--main-color);
   cursor: pointer;
}
.qMN-Next {
   border: solid 1px var(--main-color); 
   border-radius: 5px;
   padding: 5px 12px;
   background-color: var(--main-color);
   color: var(--white-text);
   cursor: pointer;
}
.qMDecision {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.qMD-Element {
    box-shadow: 3px 3px 8px #c1c1c1;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    border: 2px solid #fff;
}
.selected {
    border-color: var(--main-color);
    /* color: var(--white-text); */
}
.deactivate {
    background-color: var(--grey);
    border-color: var(--grey);
    cursor: default;
}
.trans-right {
    transform: translateX(100%);
    filter: opacity(0);
}
.trans-left {
    filter: opacity(0);
    /* transition: filter 0.6s, transform 1.5s; */
    transform: translateX(-100%);
}
.qMInputHous {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}
.qMInput {
    text-decoration: none;
    appearance: none;
    border-radius: 5px;
    border: 0px;
    background-color: var(--secondary-back);
    font-weight: 500;
    font-size: 18px;
    font-family: 'Inter';
    padding: 5px 10px;
    width: 80px;
    text-align: center;
}
.qMSliderHous {
    display: flex;
    align-items: center;
    gap: 5px;
}
input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 60%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    /*  overflow: hidden;  remove this line*/

    /* New additions */
    height: 6px;
    background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    border: none;

    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    border: none;

    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px #7aa8742e
}

input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px #7aa8742e
}

input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px #7aa8742e
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px #7aa87414
}

input[type="range"]:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px #7aa87414
}

input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px #7aa87414
}

.qSideBar {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin: 0;
    margin-top: 40px;
}
.qS-Text {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.qS-Left {
    width: 30%;
}
.qS-Right {
    width: 70%;
}
.qS-Bar {
    width: 100%;
    margin-top: 5px;
    background-color: black;
    position: relative;
}
.qS-BarBar, .qS-Track {
    width: 100%;
    height: 4px;
    background-color: var(--secondary-back);
    position: absolute;
    top: 0;
    border-radius: 2px;
}
.qS-BarBar {
    width: 0%;
    background-color: var(--main-color);
    transition: width 0.4s;
}
.qS-TimeLeft {
    position: absolute;
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .mobile {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        text-align: center;
        justify-content: center;
        padding: 100px 0;
        font-size: 26px;
    }
}