body {
    font-family: 'Inter';
    background-color: #f9f9f9;
}

.qBack {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: clamp(100px,80%,1200px);
    margin: auto;
    /* background-color: aquamarine; */
}
.qMain {
    filter: opacity(1);
    
}
.qMChild {
    position: relative;
    width: 100%;
    transition: filter 0.7s, transform 1.4s;
}
.qMHead {
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 0 0;
}
.qM-TopPart {
    display: flex;
    justify-content: space-between;
}
.qM-TopPart > img {
    width: 100px;
    border-radius: 50px;
    height: 100px;
    object-fit:cover;
}
.qM-Navigation {
    display: flex;
    gap: 5px;
    align-items: flex-start;
}
.qMN-Back {
   border: solid 1px var(--main-color); 
   border-radius: 5px;
   padding: 5px 12px;
   color: var(--main-color);
   cursor: pointer;
}
.qMN-Next {
   border: solid 1px var(--main-color); 
   border-radius: 5px;
   padding: 5px 12px;
   background-color: var(--main-color);
   color: var(--white-text);
   cursor: pointer;
}
.qMDecision {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.qMD-Element {
    box-shadow: 3px 3px 8px #c1c1c1;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    border: 2px solid #fff;
}
.selected {
    border-color: var(--main-color);
    /* color: var(--white-text); */
}
.deactivate {
    background-color: var(--grey);
    border-color: var(--grey);
    cursor: default;
}
.trans-right {
    transform: translateX(150%);
    filter: opacity(0);
}
.trans-left {
    filter: opacity(0);
    transition: filter 0.8s, transform 2s;
    transform: translateX(-150%);
}